PORT=4444
HTTP_CLIENT_MAX_REDIRECTS=5
HTTP_CLIENT_TIMEOUT=5000
APP_USERS=http://localhost:3000/users
APP_COMMENTS=http://localhost:3111/comment
APP_LIKES=http://localhost:3111/like
APP_FOLLOWERS=http://localhost:3222/follower
APP_POSTS=http://localhost:3222/posts
APP_FILES=http://localhost:3444/file
RABBIT_HOST=localhost
RABBIT_PASSWORD=test
RABBIT_PORT=5672
RABBIT_USER=admin
RABBIT_BINDING_KEYS=CHANGE_COMMENTS_COUNT|CHANGE_LIKES_COUNT|CHANGE_POSTS_COUNT|CHANGE_FOLLOWERS_COUNT|DELETE_COMMENTS_BY_POST|DELETE_LIKES_BY_POST
CHANGE_COMMENTS_COUNT=post.changeCommentsCount|post.counter|comments
CHANGE_LIKES_COUNT=post.changeLikesCount|post.counter|likes
CHANGE_POSTS_COUNT=user.changePostsCount|user.counter|posts
CHANGE_FOLLOWERS_COUNT=user.changeFollowersCount|user.counter|followers
DELETE_COMMENTS_BY_POST=comments.deletePostsComments|comments.deleter|deleteComments
DELETE_LIKES_BY_POST=comments.deletePostsLikes|comments.deleter|deleteLikes
