PORT=4444
HTTP_CLIENT_MAX_REDIRECTS=5
HTTP_CLIENT_TIMEOUT=5000
APP_USERS=http://localhost:3000/users
APP_COMMENTS=http://localhost:3111/comment
APP_LIKES=http://localhost:3111/like
APP_FOLLOWERS=http://localhost:3222/follower
APP_POSTS=http://localhost:3222/posts
APP_FILES=http://localhost:3444/file
