PORT=3222
POSTS_RESPONSE_LIMIT=25
JWT_SECRET=jwt_secret
HOST=localhost
RABBIT_HOST=localhost
RABBIT_PASSWORD=test
RABBIT_PORT=5672
RABBIT_USER=admin
RABBIT_QUEUE=readme.notify.post
RABBIT_EXCHANGE=readme.notify.post
